@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
:root{
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}
body{    
    background-image: linear-gradient(to right top, #6e50d2, #6448d4, #5941d6, #4b39d9, #3931db, #3931db, #3931db, #3931db, #4b39d9, #5941d6, #6448d4, #6e50d2);
    font-family: 'Roboto', sans-serif;
    color: white;
    min-width: 1426px;
    height: 100%;
    margin: 0 auto;

}
header{
    padding: 32px;
    margin: 0 auto;
}
a{
    color: rgb(135, 134, 139); 
}
.links{
    text-align: center;
}

.links a{
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none; 

    background:
    linear-gradient(
      to bottom, var(--color-green) 0%,
      var(--color-green) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    transition: background-size .3s;
    padding: 5px;
}
.links a:hover{
    color: #282a36;
    transition: color 500ms;
    background-size: 4px 50px;
    border-radius: 6%;
}

#wreaper{
    text-align: center;
    padding: 30px;
}

#wreaper #logo_rocket_center {
    border-radius: 50%;
    border: 10px solid var(--color-green);
    margin-bottom: 30px;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#wreaper #logo_rocket_center:hover{
    opacity: .6;
}

#wreaper h1{
    font-family: 'Kalam', cursive;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
    margin: 30px auto;
    max-width: 960px;
}

#wreaper h1 span{
    color: var(--color-green);
    text-shadow: 2px 2px #0519378f;
}

#wreaper ul{
    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 0;
    opacity: 0.8;
    margin: 20px auto;
    width: 300px;
}

#wreaper ul li{
   text-align: left;
}

#wreaper p{
    width: 100%;
    margin: 20px auto;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    opacity: 0.8;
    font-style: italic;
}

#wreaper p a{
    color: var(--color-green)
}
hr{
    border: 0;
	border-top: 1px solid #094CFA;
}

#links-footer{
    display: flex;
    grid-template-columns:  repeat(4,1fr);
    margin: 0 auto;
    width: 100%;
    height: 70px;
    text-indent: -9999px;
    max-width: 960px;
}
.social_icons{
    width: 60px;
    height: 40px;
    margin: 0 auto;
    filter:  blur(0px);
    transition: .4s ease-in-out;
}

.social_icons:hover{
    filter: blur(4px) grayscale(0);
}

.ico_f{
    background: url(/img/ico_face.svg) no-repeat center top;
    background-size: 60px 40px;
}
.ico_i{
    background: url(/img/ico_insta.svg) no-repeat center top;
    background-size: 60px 40px;
}
.ico_t{
    background: url(/img/ico_twitter.svg) no-repeat center top;
    background-size: 60px 40px;
}
.ico_y{
    background: url(/img/ico_youtube.svg) no-repeat center top;
    background-size: 60px 40px;
}
/** ===CARDS=== **/

.cards{
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.card{
    background-color: var(--color-rocket);
    border: 1px solid var(--color-rocket);
    cursor: pointer;
}
.card:hover{
    border: 2px solid var(--color-rocket);
}

.card__image-container img{
    width: 100%;
}

.card__content,
.card__info{
    padding: 22px;
}

.card__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__price{
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/** === MODAL === */

.modal-overlay{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    height: 90%;
    width: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal{
    color: black;
    font-size: 36;
    position: absolute;
    right: 0;
    padding: 20px;
    cursor: pointer;
}
/** === MODAL ACTIVE === */
.active{
    opacity: 1;
    visibility: visible;
}

iframe{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

.adjust {
    color: var(--color-green);
    text-shadow: 1px 1px #0519378f;
    position: relative;
    top: 5px;
}

/* === COURSES == */

#courses{
    width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
.course{
    display: flex;
    flex-direction: column;
    background: url("./img/FeaturedCardBg.40a7d53e.png") 0% 0% / cover;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-align: center;
	align-items: center;
    flex: 1 1 0%;
    padding: 50px 0;
}
#courses .course a{
    text-decoration: none;
    
}

.course a span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px;
    border: 2px solid;
}

.course div{
    height: 150px;
    margin: 105px 0px 55px;
}

#courses .course a p{
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
}

#starter a span{
    border-color: var(--color-rocket);
    color: var(--color-rocket);
}
#starter a strong{
    font-weight: bold;
    color: var(--color-rocket);
}
#starter:hover{
    transform: translateY(-7px);
    transition: all 0.2s ease 0.2s;
    border: 2px solid var(--color-rocket);
}

#starter a:last-child, 
#lauchbase a:last-child,
#gostack a:last-child {
    color: rgb(34, 34, 34);
}

#lauchbase a span{ 
    border-color: rgb(253, 149, 31);
    color:  rgb(253, 149, 31);
}

#lauchbase a strong{
    font-weight: bold;
    color:  rgb(253, 149, 31);
}

#lauchbase:hover{
    transform: translateY(-7px);
    transition: all 0.2s ease 0.2s;
    border: 2px solid rgb(253, 149, 31);
}

#gostack a span{
    margin-top: 50px;
    border-color: rgb(4, 211, 97);
    color: rgb(4, 211, 97);
}
#gostack a p strong{
    font-weight: bold;
    color: rgb(4, 211, 97);
}

#gostack:hover{
    transform: translateY(-3px);
    transition: all 0.2s ease-in-out 0.2s;
    border: 2px solid rgb(4, 211, 97);
}

.budget_course{
    position: relative;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	align-self: center;
	padding: 15px;
	background: rgb(4, 211, 97);
    border-radius: 4px;
}

#gostack .budget_course {
    color: rgb(34, 34, 34);
}

#gostack .budget_course strong {
    color: rgb(34, 34, 34);
    font-weight: bold;
}

/* === MODAL === */

.modal_overlay{
    background-color: rgba(0, 0, 0, 0.0.7);
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;

}
.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
   
}

.modal .close_modal{
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/* === MODAL active === */
.modal_overlay .active{
    opacity: 1;
    visibility: visible;
}